.first-screen {
  padding-top: 109px;
  padding-bottom: 105px;

  color: #fff;
  background-color: #8a2f1c;
  background-image: linear-gradient(rgba(0, 0, 0, .35), rgba(0, 0, 0, .35)), url(../images/bg__first-screen.png);
  background-position: center;
  background-size: cover;
}


.first-screen .title {
  font-size: 56px;
  line-height: 120%;
  margin-bottom: 0;
  text-transform: uppercase;

  color: #fff;
}

.first-screen__subtitle {
  font-size: 40px;
  font-weight: 400;
  line-height: normal;
  display: inline-block;
  margin-bottom: 37px;
}

.advantages__list {
  display: flex;

  max-width: 650px;
  margin: 0;
  margin-bottom: 60px;
  padding: 0;

  list-style: none;

  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.advantages__item {
  font-size: 16px;

  position: relative;

  box-sizing: border-box;
  max-width: 145px;
  margin-left: 65px;
}

.advantages__item::before {
  position: absolute;
  top: 0;
  left: -60px;

  display: block;

  width: 45px;
  height: 45px;

  content: '';

  background-position: center;
  background-size: cover;
}

.icon-arrows::before {
  background-image: url(../images/icon__arrows.svg);
}

.icon-triad::before {
  background-image: url(../images/icon__triad.svg);
}

.icon-delivery::before {
  background-image: url(../images/icon__car--white.svg);
}

@media (max-width: 1300px) {
  .first-screen {
    padding-top: 85px;
    padding-bottom: 70px;
  }

  .first-screen .title {
    font-size: 3rem;
    line-height: 120%;
  }

  .first-screen__subtitle {
    font-size: 2.3rem;
    line-height: 120%;
  }

}

@media (max-width: 830px) {
  .first-screen .title {
    font-size: 2rem;
  }

  .first-screen__subtitle {
    font-size: 1.8rem;
  }

  .advantages__list {
    margin-bottom: 45px;
  }

}

@media (max-width: 668px) {
  .first-screen {
    padding-top: 5%;
    padding-bottom: 8%;
  }

  .advantages__item {
    font-size: 14px;
    position: relative;
    box-sizing: border-box;
    max-width: 120px;
    margin-left: 60px;
  }

  .advantages__list {
    margin-bottom: 33px;
  }

  .advantages__list {
    max-width: 100%;
  }

  .advantages__item {
    width: 22%;
    margin-left: 50px;
    font-size: 12px;
    line-height: 130%;
  }

  .advantages__item::before {
    left: -55px;
  }

}

@media (max-width: 500px) {
  .first-screen {
    padding-top: 10%;

  }

  .first-screen__subtitle {
    font-size: 1.5rem;
  }

  .advantages__list {
    justify-content: space-around;
  }

  .advantages__item {
    width: 30%;
    max-width: 26%;
    margin-left: 0;
    font-size: 12px;
    line-height: 130%;
    margin-top: 60px;
  }

  .advantages__item::before {
    left: 0;
    top: -55px;
  }

  .first-screen .title {
    font-size: 1.8rem;
  }

  .first-screen__subtitle {
    font-size: 1.3rem;
  }

  .first-screen__subtitle {
    margin-bottom: 20px;
  }

  .advantages__list {
    justify-content: space-around;
  }

  .advantages__item {
    width: 30%;
    margin-top: 40px;
  }

  .advantages__item::before {
    top: -45px;
    width: 35px;
    height: 35px;
  }

  .header__menu-button::after {
    display: none;
  }

  .messengers__list {
    display: none;
  }

  .messengers__link--phone {
    width: 40px;
    height: 40px;
    max-width: 40px;
  }
}

@media (max-width: 400px) {
  .first-screen {
    background-image: none;
  }

}

@media (max-width: 300px) {


  .first-screen .title {
    font-size: 1.5em;
    margin-bottom: 10px;
  }

  .first-screen__subtitle {
    font-size: 1em;
    margin-bottom: 35px;
  }

  .first-screen .button {
    display: block;
    padding: 15px;
    max-width: 70%;
    margin: 0 auto;
  }

}
