.footer {
  /* background: steelblue linear-gradient(#24429a 50%, #2c52c2 50%) center center/100% 0.4em; */
  color: #fff;
  padding-top: 40px;
  padding-bottom: 70px;
  background-color: #2c52c2;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='88' height='24' viewBox='0 0 88 24'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='autumn' fill='%2324429a' fill-opacity='0.4'%3E%3Cpath d='M10 0l30 15 2 1V2.18A10 10 0 0 0 41.76 0H39.7a8 8 0 0 1 .3 2.18v10.58L14.47 0H10zm31.76 24a10 10 0 0 0-5.29-6.76L4 1 2 0v13.82a10 10 0 0 0 5.53 8.94L10 24h4.47l-6.05-3.02A8 8 0 0 1 4 13.82V3.24l31.58 15.78A8 8 0 0 1 39.7 24h2.06zM78 24l2.47-1.24A10 10 0 0 0 86 13.82V0l-2 1-32.47 16.24A10 10 0 0 0 46.24 24h2.06a8 8 0 0 1 4.12-4.98L84 3.24v10.58a8 8 0 0 1-4.42 7.16L73.53 24H78zm0-24L48 15l-2 1V2.18A10 10 0 0 1 46.24 0h2.06a8 8 0 0 0-.3 2.18v10.58L73.53 0H78z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}


.footer__title {
  display: inline-block;
  font-weight: 800;
  font-size: 14px;
  line-height: 120%;
  color: #fff;
  margin-bottom: 15px;
}

.footer .container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

}

.footer__social-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  font-size: 0;
  line-height: 0;
}

.footer .work-time {
  max-width: 250px;
}

.footer__social {
  max-width: 300px;
}

.footer__messengers {
  max-width: 330px;
}

.footer .button--white {
  width: 100%;
}


.messengers__item--phone {
  margin-left: 30px;
}

.footer__copiright {
  background-color: #0e339e;
  color: #fff;
  padding: 10px 5px;
}

.footer__copiright p {
  margin: 0;
  font-size: 10px;
  line-height: 130%;
  color: #ffffff6e;
}

.work-time ul {
  margin: 0;
  padding: 0;
  list-style: none;

}

.work-time li {
  margin-bottom: 10px;

}


@media (max-width: 1300px) {
  .footer {
    padding-top: 3%;
    padding-bottom: 3%;

  }

  .footer .messengers__list {

    width: 100%;
    margin-bottom: 10px;
    justify-content: flex-start;
  }

  .footer .messengers__item--phone {
    margin-left: 0;
  }

  .footer .work-time {
    display: inline-block;
    text-align: left;
  }


}


@media (max-width: 740px) {
  .footer__social {
    max-width: 250px;
  }

  .footer__social-list li {
    max-width: 25px;
  }

  .footer__title {
    display: inline-block;
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 10px;
  }

}

@media (max-width: 668px) {
  .footer__social {
    max-width: 215px;
  }

  .footer .work-time {
    max-width: 165px;
  }

  .footer .header__contacts,
  .footer .button--white {
    display: none;
  }

}

@media (max-width: 400px) {

  .footer {
    padding-top: 10%;

  }

  .footer .work-time {
    max-width: 90%;
    margin-bottom: 10px;
  }

  .footer__social {
    max-width: 65%;
    margin-bottom: 10px;
  }

}
