.production {
  padding-top: 80px;
  padding-bottom: 50px;

  background: #ededed;
}

.production__video {
  display: flex;

  width: 100%;
  height: 342px;
  margin-bottom: 30px;

  background-image: linear-gradient(rgba(0, 0, 0, .35), rgba(0, 0, 0, .35)), url(../images/bg__video-block.png);
  background-position: center;
  background-size: cover;
}

.play-button {
  display: block;

  width: 126px;
  height: 126px;
  margin: auto;

  cursor: pointer;

  background-image: url(../images/icon__play-button.svg);
  background-position: center;
  background-size: cover;
}

.production__list {
  display: flex;

  margin: 0;
  padding: 0;

  list-style: none;

  justify-content: space-between;
  flex-wrap: wrap;
}

.production__item {
  position: relative;

  display: flex;

  box-sizing: border-box;
  width: 48%;
  margin-bottom: 28px;
  padding: 21px 15px;
  padding-left: 0;

  background-color: #fff;

  flex-wrap: wrap;
  align-items: flex-start;
}

.production__picture {
  max-width: 137px;
}

.production__title {
  font-size: 16px;
  line-height: 140%;

  max-width: 245px;
  margin: 0;
  margin-left: 5px;
  padding: 10px 0;
}

.production__description {
  font-size: 14px;
  line-height: 130%;

  position: absolute;
  top: 0;
  right: 0;

  box-sizing: border-box;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 15px 25px;
  /*Элемент полностью прозрачный (невидимый)*/

  transition: .5s;

  opacity: 0;
  color: #fff;
  border: 3px solid #e95836;
  background-color: #2c52c2;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='88' height='24' viewBox='0 0 88 24'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='autumn' fill='%2324429a' fill-opacity='0.4'%3E%3Cpath d='M10 0l30 15 2 1V2.18A10 10 0 0 0 41.76 0H39.7a8 8 0 0 1 .3 2.18v10.58L14.47 0H10zm31.76 24a10 10 0 0 0-5.29-6.76L4 1 2 0v13.82a10 10 0 0 0 5.53 8.94L10 24h4.47l-6.05-3.02A8 8 0 0 1 4 13.82V3.24l31.58 15.78A8 8 0 0 1 39.7 24h2.06zM78 24l2.47-1.24A10 10 0 0 0 86 13.82V0l-2 1-32.47 16.24A10 10 0 0 0 46.24 24h2.06a8 8 0 0 1 4.12-4.98L84 3.24v10.58a8 8 0 0 1-4.42 7.16L73.53 24H78zm0-24L48 15l-2 1V2.18A10 10 0 0 1 46.24 0h2.06a8 8 0 0 0-.3 2.18v10.58L73.53 0H78z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  /*Скорость перехода состояния элемента*/
}

.production__description p {
  margin-top: 0;
}

.production__description ul {
  margin: 0;
  padding: 0;
}

.production__description li {
  margin-bottom: 3px;
}

.production__item:hover .production__description {
  z-index: 11;

  transition: .5s;

  opacity: 1;
  box-shadow: 5px 7px 20px -9px #000;
}

.production__item::after {
  position: absolute;
  right: 15px;
  bottom: 15px;

  display: block;

  width: 40px;
  height: 30px;

  content: '';

  background-image: url(../images/icon__orange-arrow.svg);
  background-position: center;
  background-size: cover;
}


@media (max-width: 1300px) {
  .production {
    padding: 10% 0;

  }

  .production__title {
    font-size: 1rem;
    line-height: 120%;
    margin-left: 10px;
  }

  .production__item::after {
    width: 30px;
    height: 23px;
    background-size: contain;
  }

}

@media (max-width: 900px) {
  .production__picture {
    max-width: 100px;
  }

  .production__title,
  .production__description {
    font-size: 0.8rem;
    line-height: 130%;
    font-weight: 500;
  }

  .production__item::after {
    display: none;
  }

  .production__picture {
    max-width: 30%;
  }

  .production__title {

    max-width: 65%;

  }

  .production__item {
    padding: 5%;
    padding-left: 0;
  }

  .production__description {
    padding: 5%;
    padding-left: 30px;
  }

}

@media (max-width: 830px) {

  .production__description p,
  .production__description li {
    margin-bottom: 4px;
    font-size: 0.7rem;
  }

}

@media (max-width: 400px) {
  .production__item {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 10px;

  }

  .production .subtitle {
    font-size: 1.2rem;
    line-height: 120%;
    margin-bottom: 10%;
  }

}
